@font-face {
	font-family: 'LelandMusic';
	src: url("../font/Leland.otf") format("opentype");
}

.nav{
	position: sticky;
        height: 40px;
        box-shadow: 0px 2px;
        width: 100%;
	background-color: #ffffff;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 15px
}

button {
	margin: 2px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #000015;
	color: #EFEFEF;
	transition: color 0.5s, background-color 0.5s;
	text-decoration: none
}


button:hover{
	background-color: #EFEFEF;
	color: #000015;
}
button:active{
	text-decoration: underline;
	background-color: #EFEFEF;
	color: #000015;

}
.notation{
	font-family: 'LelandMusic';
	font-size: 50;
}
hr{
	display: block;
	margin-top: 0;
	margin-bottom: 0;
	background-color: black;
	height: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 2px;
}
.not{
	height: 1px;
	width: 100%;
	padding-bottom: 5px;
}
.notes{
	position: absolute;
	font-family: LelandMusic;
	top: 149px;
	font-size: 49px;
	text-transform: full-width;
	letter-spacing: -15px;
	white-space: pre;
}
/*.noteStrings{
	user-select: none;
}*/