@font-face {
	font-family: 'LelandMusic';
	src: url("../font/Leland.otf") format("opentype");
}

.nav{
	position: sticky;
        height: 40px;
        box-shadow: 0px 2px;
        width: 100%;
	background-color: #ffffff;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 15px
}

button {
	margin: 2px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #000015;
	color: #EFEFEF;
	transition: color 0.5s, background-color 0.5s;
	text-decoration: none
}


button:hover{
	background-color: #EFEFEF;
	color: #000015;
}
button:active{
	text-decoration: underline;
	background-color: #EFEFEF;
	color: #000015;

}
.notation{
	font-family: 'LelandMusic';
	font-size: 50;
}