#curveEditor{
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
}
#editorWindow{

	background-color: ivory;
	display: block;
	width: 60%;
	height: 80%;
	margin: 5% 20% 5% 20%;

}
#curveDisplay{
	width: 600px;
	height: 300px;
}
#fourierDisplay{
	width: 600px;
	height: 200px;
}
#instrumentList hr{
	width: 25%;
}
h3{
	display: inline;
}
h4{
	display: inline;
}
h6{
	display: inline;
}
#instrumentAdd{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgb(0, 0, 0, 0.5);	
	z-index: 3;
	display: none;
}
#instrumentAddWindow{
	display: block;
	background-color: oldlace;
	position: fixed;
	top: 0;
	width: 25%;
	height: 25%;
	margin: 15% 37.5% 50% 37.5%;
}
#instrumentAddWindow input{
	margin: 5px;
}
#instrumentAddWindow button{
	margin: 5px;
}
